<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./mdl/material.min.css">
    <link rel="stylesheet" href="./css/about.css">
    <script defer src="./mdl/material.min.js"></script>
    <script src="./js/jquery-3.1.1.js" ></script>
    <script src="./js/custom.js"></script>
    <script src="./js/mashed.js"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">
              Mashed
            </span>
            <span class="dp">
                <img src="" class="profile" id="profile-pic">
            </span>
        </div>

        <div class="mdl-layout__header-row">
            <div class="docs-navigation__container">
                <div class="docs-navigation mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/mashed">Mashup</a>
                    <a class="mdl-navigation__link" href="/rating">View Ratings</a>
                    <!--<a class="mdl-navigation__link" href="/upcoming">Upcoming Events</a>-->
                    <!--<a class="mdl-navigation__link" href="/newevent">New Event</a>-->
                    <a class="mdl-navigation__link" href="/about">About</a>
                    <a class="mdl-navigation__link" href="/contact">Contact Us</a>
                    <div class="mdl-layout-spacer"></div>
                </nav>
            </div>
        </div>

    </header>
    <div class="mdl-layout__drawer ">
        <span class="mdl-layout__title">

        </span>
        <nav class="mdl-navigation">
            <img src="" class="profile" id="dp">
            <a class="mdl-navigation__link" href="/mashed">Mashup</a>
            <a class="mdl-navigation__link" href="/rating">View Ratings</a>
            <a class="mdl-navigation__link" href="/about">About</a>
            <a class="mdl-navigation__link" href="/contact">Contact Us</a>
            <a class="mdl-navigation__link logout" href="/logout">Logout</a>
        </nav>
    </div>

    <!--content of about page start-->

    <div class="mdl-grid mdl-grid--no-spacing">
            <div class="container">
                <p class="what mdl-cell mdl-cell--12-col">About After Mashed !!</p>
                <p class="small mdl-cell mdl-cell--12-col">The Motivation behind this medium is that we attend many events in our college some organised by different hubs, some by our college but after that event we cannot express how it went(anonymously offcourse),
                    Hence we provide a medium to "Like" or "Dislike" all the events happening in college. you can also suggest more events to add on our email
                    <a href="mailto:rishabhkhanna777@gmail.com?Subject=After%20Mash%20Contact" target="_top">aftermashed@gmail.com</a>
                </p>
                <p class="small">
                    Just email us the Event Name, and its facebook page and it will be added.
                </p>
            </div>
        </div>
</div>
</body>
</html>