<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./mdl/material.min.css">
    <link rel="stylesheet" href="./css/contact.css">
    <script defer src="./mdl/material.min.js"></script>
    <script src="./js/jquery-3.1.1.js" ></script>
    <script src="./js/custom.js"></script>
    <script src="./js/mashed.js"></script>
    <script src="https://use.fontawesome.com/f908b86fb9.js"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">
              Mashed
            </span>
            <span class="dp">
                <img src="" class="profile" id="profile-pic">
            </span>
        </div>

        <div class="mdl-layout__header-row">
            <div class="docs-navigation__container">
                <div class="docs-navigation mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/mashed">Mashup</a>
                    <a class="mdl-navigation__link" href="/rating">View Ratings</a>
                    <!--<a class="mdl-navigation__link" href="/upcoming">Upcoming Events</a>-->
                    <a class="mdl-navigation__link" href="/newevent">New Event</a>
                    <a class="mdl-navigation__link" href="/about">About</a>
                    <a class="mdl-navigation__link" href="/contact">Contact Us</a>
                    <div class="mdl-layout-spacer"></div>
                </nav>
            </div>
        </div>

    </header>
    <div class="mdl-layout__drawer ">
        <span class="mdl-layout__title">

        </span>
        <nav class="mdl-navigation">
            <img src="" class="profile" id="dp">
            <a class="mdl-navigation__link" href="/mashed">Mashup</a>
            <a class="mdl-navigation__link" href="/rating">View Ratings</a>
            <a class="mdl-navigation__link" href="/upcoming">Upcoming Events</a>
            <a class="mdl-navigation__link" href="/new">New Event</a>
            <a class="mdl-navigation__link" href="/about">About</a>
            <a class="mdl-navigation__link" href="/contact">Contact Us</a>
            <a class="mdl-navigation__link" href="/logout">Logout</a>
        </nav>
    </div>

    <!--content of about page start-->
    <div class="set-width center mdl-grid">

        <div class="mdl-card card flex mdl-shadow--4dp mdl-cell mdl-cell--12-col mdl-typography--text-center" data-id = "" >
        <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Contact the Founder</h2>
        </div>

            <div class="mdl-card__media">

                <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t31.0-8/15168914_10207919044359648_6868862733075357753_o.jpg?oh=a79b05bc9470daebcd51721103aed282&oe=5911044F" class="event-img">

            </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect name" href="#" >
                Rishabh Khanna
            </a>
        </div>
        <div class="mdl-card__supporting-text">
            <div >
            <a href="mailto:rishabhkhanna777@gmail.com?Subject=After%20Mash%20Contact" target="_top">rishabhkhanna777@gmail.com</a>
            </div>
            <div class="icon">
            <!--facebook link-->
                <a href="https://www.facebook.com/rishabh.khanna.18" class="link-icon" >
                    <i class="fa fa-facebook-official fa-4x" aria-hidden="true" ></i>
                    </a>
                <!--github project link-->
                <a href="https://github.com/Rishabhk07/judge-event" class="link-icon">
                <i class="fa fa-github fa-4x" aria-hidden="true" ></i>
                    </a>
                <!--linkedin link-->
                <a href="https://in.linkedin.com/in/rishabh-khanna-670bb0127" class="link-icon">
                <i class="fa fa-linkedin fa-4x" aria-hidden="true" ></i>
                </a>
                <!--twitter link-->
                <a href="https://twitter.com/Rishabh_K127" class="link-icon">
                    <i class="fa fa-twitter-square fa-4x" aria-hidden="true" ></i>
                    </a>
            </div>

        </div>

    </div>

</div>
    <!---->
</div>
</body>
</html>