<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="../mdl/icon?family=Material+Icons">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="./mdl/material.min.css">
    <link rel="stylesheet" href="./css/mashed.css">
    <script defer src="./mdl/material.min.js"></script>
    <script src="./js/jquery-3.1.1.js" ></script>
    <script src="./js/custom.js"></script>
    <script src="./js/mashed.js"></script>

</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">
              Mashed
            </span>
        </div>
        <div class="mdl-layout__header-row">
            <div class="docs-navigation__container">
                <div class="docs-navigation mdl-layout-spacer"></div>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="#">Mashup</a>
                    <a class="mdl-navigation__link" href="#">Upcoming Events</a>
                    <a class="mdl-navigation__link" href="#">New Event</a>
                    <a class="mdl-navigation__link" href="#">About</a>
                    <a class="mdl-navigation__link" href="#">Contact Us</a>
                </nav>
            </div>
        </div>
    </header>


    <div class="mdl-layout__drawer ">
        <span class="mdl-layout__title">
            <img src="" class="profile" >
        </span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="#">Mashup</a>
            <a class="mdl-navigation__link" href="#">Upcoming Events</a>
            <a class="mdl-navigation__link" href="#">New Event</a>
            <a class="mdl-navigation__link" href="#">About</a>
            <a class="mdl-navigation__link" href="#">Contact Us</a>
            <a class="mdl-navigation__link" href="/logout">Logout</a>
        </nav>
    </div>
    <!--<div class="con disappear">-->
        <!--<div class="container">-->
            <!--<p class="what left">What we do ?</p>-->
            <!--<p class="desc right">Just after any event, you either like it or dislike it  <br> We just provide the medium to do the same </p>-->
        <!--</div>-->
    <!--</div>-->

    <div class="con">

            <div class="dislike mdl-js-button mdl-button--raised flex">
                <img class="ch" src="../assets/dislike.png">
                <!--<h1 class="ch chose">Dislike</h1>-->
            </div>

        <!--Card start -->
        <div class="set-width">
            <div class="mdl-card card flex mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Drupal Camp Delhi 2016</h2>
                </div>
                <div class="mdl-card__media">
                    <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/14671233_1114060548677278_2004840028866686155_n.png?oh=431e7307eef4d452716a42f67b43dce1&oe=58B624D2" class="event-img">
                </div>
                <div class="mdl-card__supporting-text">
                    Drupal camp was a drupal event organised by some ass holes who didnt even cared about any volunteers or anybody, wpeople who lack mutual respect.
                </div>
                <div class="mdl-card__actions">
                    <a href="" height = "150px" width="150px">Facebook Page</a>
                </div>
            </div>
        </div>
        <!--card finish -->
        <div class="like mdl-js-button mdl-button--raised flex">
            <img class="ch" src="../assets/likes.png">
            <!--<h1 class="ch chose">Like</h1>-->
        </div>
    </div>
    <!--<div class="center">-->
        <!--<button class="mdl-button mdl-js-button mdl-button--raised mash">Start Mashing</button>-->
    <!--</div>-->

    <!--<div class="center facebook">-->
        <!--<a href="/auth/facebook"><button class="mdl-button mdl-js-button mdl-button--raised mdl-color--blue-600">Login with Facebook</button></a>-->
    <!--</div>-->
</div>



</body>
</html>