body{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.mdl-layout__header {
    background-color: #2e2e2e;
    color: #fff;
    background-image: url("../html/header.jpg");
}

.container{
    position: relative;
    width:100%;
    background-size: cover;
    color: #323232;
    text-align: center;
    /*font-family: "Roboto", "Helvetica", "Arial", sans-serif;*/
    display: flex;
    flex-flow: wrap;
}

.left{
    width:30%;
}

.right{
    widht:70%;
}

.what{
    font-weight: 700;
    color: #37474f;
    font-size: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.desc{
    line-height: normal;
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.con{
    display: flex;
    flex-flow: wrap;
    height:500px;
}
.dislike{
    width:50%;
    height:400px;
    background-color: #E90974;
}
.like{
    width:50%;
    height:400px;
    background-color: #191E80;
}

.ch{
    margin: auto;
    color: white;
}

.flex{
    display: flex;
}

.mash{
    position: relative;
    display: block;
    width: 100%;
    color: white;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2e2e;
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.facebook{
    display: flex;
    flex-flow: row;
    margin-bottom: 50px;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .chose
    {
        font-size: 20px;
        display: none;
    }

    .what{
        font-weight: 500;
        color: #37474f;
        font-size: 25px;
        height: 30px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .desc{
        line-height: normal;
        font-size: 20px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 50px;
    }

    .left{
        width:100%;
    }

    .right{
        widht:100%;
    }

    .con{
        margin-top: 40px;
        margin-bottom:20px;
    }


}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    .what{
        font-size: 30px;
        height: 40px;
    }
}