body{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.mdl-layout__header {
    background-color: #2e2e2e;
    color: #fff;
    background-image: url("../html/header.jpg");
}

.container{
    position: relative;
    width:100%;
    background-size: cover;
    color: #323232;
    text-align: center;
    /*font-family: "Roboto", "Helvetica", "Arial", sans-serif;*/
    display: flex;
    flex-flow: wrap;
}

.left{
    width:30%;
}

.right{
    widht:70%;
}

.what{
    font-weight: 700;
    color: #37474f;
    font-size: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.desc{
    line-height: normal;
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.con{
    display: flex;
    flex-flow: wrap;
    height:500px;
    /*margin-top: 10%;*/
}
.dislike{
    width:50%;
    height:400px;
    background-color: #E90974;
    animation-name: left;
    animation-duration: 1s;
    transition: 1s;
    float: right;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-top: 10%;
}
.like{
    width:50%;
    height:400px;
    background-color: #191E80;
    animation-name: left;
    animation-duration: 1s;
    transition: 1s;
    float: left;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-top: 10%;
}

.ch{

    margin: auto;
    color: white;
    animation-name: center;
    animation-duration: 1s;
    transition: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.flex{
    display: flex;
}

.mash{
    position: relative;
    display: inline-block;
    width: 100%;
    color: white;
    overflow: auto;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2e2e;
    text-align: center;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.facebook{
    display: flex;
    flex-flow: row;
    margin-bottom: 50px;
}

.chose{
    animation-name: hide;
    animation-duration: 1s;
    transition: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.card{
    height: 450px;
    width:320px;
    margin: auto;
}

.set-width{
    width: 40%;
    margin: 5%;
    height: auto;
    animation-name: visible;
    animation-duration: 1s;
    transition: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    text-align: center;
}

.event-img{
    height: 40%;
    width: 40%;
}

.create-event{
    margin-top: 10%;
    flex-direction: column;
    text-align: center;
}

.input-div{
    margin:auto;
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .chose
    {
        font-size: 20px;
        display: none;
    }

    .what{
        font-weight: 500;
        color: #37474f;
        font-size: 25px;
        height: 30px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .desc{
        line-height: normal;
        font-size: 20px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        height: 50px;
    }

    .left{
        width:100%;
    }

    .right{
        widht:100%;
    }

    .con{
        margin-top: 40px;
        margin-bottom:20px;
    }


    .dislike{
        width: 50%;
    }
    .like{
        width:50%;
    }
    .set-width{
        width: 100%;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    .what{
        font-size: 30px;
        height: 40px;
    }

}


/*Key frame transistion starts here */


@keyframes left {
    0%{
        width: 50%;
        height: 200px;
        top: 50%;
        left: 10px;
        -webkit-transition: ease-out;
        -moz-transition: ease-out;
        -ms-transition: ease-out;
        -o-transition: ease-out;
        transition: ease-out;
    }

    100% {
        width:25%;
        height: 200px;
        top: 50%;
        left: 200px;
        -webkit-transition: ease-out;
        -moz-transition: ease-out;
        -ms-transition: ease-out;
        -o-transition: ease-out;
        transition: ease-out;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        display: block;
        visibility: inherit;
        -webkit-transition: ease-out;
        -moz-transition: ease-out;
        -ms-transition: ease-out;
        -o-transition: ease-out;
        transition: ease-out;
    }
    100%{
        opacity: 0;
        display: none;
        height: 0;
        -webkit-transition: ease-out;
        -moz-transition: ease-out;
        -ms-transition: ease-out;
        -o-transition: ease-out;
        transition: ease-out;
    }

}

@keyframes center {
    0% {
        align-items: inherit;
        -webkit-transition: ease-out;
        -moz-transition: ease-out;
        -ms-transition: ease-out;
        -o-transition: ease-out;
        transition: ease-out;
    }

    100%{
        align-items: center;
        -webkit-transition: ease-out;
        -moz-transition: ease-out;
        -ms-transition: ease-out;
        -o-transition: ease-out;
        transition: ease-out;
    }
}

@keyframes  visible{
    0% {
        opacity: 0;
        width:0%;
        margin: 0;
        -webkit-transition: ease-out;
        -moz-transition: ease-out;
        -ms-transition: ease-out;
        -o-transition: ease-out;
        transition: ease-out;
    }
    100%{
        opacity: 1;
        width: 40%;
        margin: 5%;
        -webkit-transition: ease-out;
        -moz-transition: ease-out;
        -ms-transition: ease-out;
        -o-transition: ease-out;
        transition: ease-out;
    }
}